.card {
    min-width: max-content;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

#header {
    margin-bottom: -15px;
    text-align: center
}

/* to split scores and live stream (row) */
.scores-stream-split {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.scores {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#score-header {
    margin-bottom: -10px;
    text-align: center;
}

/* auto scrolling between pages of score */
#auto-scrolling {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -20px;
    justify-content: center;
}

#auto-scrolling input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.livestream {
    position: relative;
}

#livestream-element {
    width: 45rem;
    height: 100%;
    background: black;
    border-radius: 8px;
}

.livestream p {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgba(218, 218, 218, 0.7);
    font-size: 1.5rem;
    width: 100%;
}

.navigation {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.back-to-scores {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: rgb(34, 47, 63);
    color: rgba(218, 218, 218, 0.7);
    padding: 0 20px;
    border-radius: 50px 0 0 50px;
    width: max-content;
    box-sizing: border-box;
    height: 40px;
}
.back-to-login:hover {
    cursor: pointer;
    background: rgb(34, 49, 66);
}


.back-to-scores button {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    font-size: 15px;
    margin: 0 10px;
}

#back-to-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 10px 20px;
    margin: 0;
    background: rgb(34, 47, 63);
    color: rgba(218, 218, 218, 0.7);
    box-shadow: none;
    box-sizing: border-box;
    height: 40px;
}
#back-to-login:hover {
    background: rgb(34, 49, 66);
}

.switch-score-button {
    border-radius: 0 50px 50px 0;
}

.switch-score-button, .login-logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 0;
    background: rgb(34, 47, 63);
    color: rgba(218, 218, 218, 0.7);
    box-shadow: none;
    box-sizing: border-box;
    height: 40px;
}
.switch-score-button:hover {
    background: rgb(34, 49, 66);
}

.login-logout-button {
    border-radius: 0;
}

/* Media query for screens with a max-width of 400px */
@media (max-width: 400px) {
    #livestream-element {
        width: 100%;
    }

    #header {
        margin-bottom: 0;
    }

    .scores-stream-split {
        flex-direction: column;
        gap: 10px;
    }

    .livestream {
        margin-top: 10px;
    }

    .scores {
        margin-top: 10px;
    }

    .navigation {
        flex-direction: column;
        gap: 5px;
    }

    .back-to-scores, .switch-score-button {
        width: 100%;
        border-radius: 50px;
        justify-content: center;
    }

    #back-to-login {
        width: 100%;
        border-radius: 50px;
    }

    .pagination {
        margin-bottom: 10px;
    }

    .card-body {
        gap: 10px;
    }

    .scores {
        gap: 10px;
    }

    #auto-scrolling {
        gap: 5px;
    }

    #livestream-text {
        font-size: 12px;
    }

    .login-logout-button {
        border-radius: 50px;
    }
}
