<section class="container">
    <div class="card">
        <div class="header">
            <img id="logo" src="assets/Logo-tranparent.webp" alt="Logo"/>
            <h1>Welcome to BeamVR</h1>
        </div>

        <div class="card-body">
            <div *ngIf="errorMessage" class="error">
                <p id="error">{{ errorMessage }}</p>
            </div>
            <form id="loginForm">
                @if (isLoggedIn) {
                    @if (isAuthorized) {
                        <button routerLink="/admin">Admin Page</button>
                    }
                    <button type="submit" (click)="logout()">Logout</button>
                } @else {
                    <button type="submit" (click)="login()">Login</button>
                }
            </form>
            <button routerLink="/scores">Continue without registration</button>
        </div>
    </div>
</section>