<section class="container">
    <div class="card">

        <div class="header">
            <img id="logo" src="assets/Logo-tranparent.webp" alt="Logo"/>
        </div>

        <div class="card-body">
            <div *ngIf="errorMessage" class="error">
                <h3>{{ errorMessage }}</h3><br>
              </div>
            <form id="loginForm">
                @if (isLoggedIn){
                    <button type="submit" (click)="logout()">Logout</button>
                } @else {
                    <button type="submit" (click)="login()">Login</button>
                }
            </form>
            <button routerLink="/scores">Continue without registration</button>
        </div>
    </div>
</section>