.card {
    min-width: max-content;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap: 25px;
}

/* to split the content of the search page */
.search-content-split {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

/* navigation between back to login / live stream */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin-top: 10px;
}

#show-stream {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    padding: 10px 20px;
    margin: 0;
    background: rgb(34, 47, 63);
    color: rgba(218, 218, 218, 0.7);
    box-shadow: none;
    box-sizing: border-box;
    height: 40px;
}

#show-stream:hover {
    background: rgb(34, 49, 66);
}

.back-to-login {
    display: flex;
    align-items: center;
    background: rgb(34, 47, 63);
    color: rgba(218, 218, 218, 0.7);
    padding: 0 20px;
    border-radius: 50px 0 0 50px;
    width: max-content;
    box-sizing: border-box;
    height: 40px;
}
.back-to-login:hover {
    cursor: pointer;
    background: rgb(34, 49, 66);
}

.back-to-login button {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    font-size: 15px;
    margin: 0 10px;
}

/* SEARCH */

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 35px;
}

.search input {
    height: 100%;
    border-radius: 50px 0 0 50px;
}

.search input::placeholder {
    color: black;
}

.search button {
    width: 20%;
    border-radius: 0 50px 50px 0;
    height: 100%;
    padding: 0;
    font-size: 20px;
}

#search-table tr th, #search-table tr td {
    padding: 10px;
    font-size: 15px;
}


@media (max-width: 480px) {
    .card {
        min-width: 100%;
    }

    .card-body {
        gap: 20px;
    }

    h4 {
        font-size: 12px;
    }
}
