<div class="container">
    <div class="card">
        <h1>BeamVR</h1>

        <div *ngIf="connectionLost" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Connection lost</h4>
        </div>

        <div class="card-body">
            <div>
                <h2>All Highscores</h2>

                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of paginatedData; let i = index">
                            <td>{{ i + 1 + currentPage * pageSize }}</td>
                            <td><img [src]="item.image" alt="UserImage" class="img-thumbnail"></td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.score }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <button (click)="previousPage()" [disabled]="currentPage === 0"><i
                            class="fas fa-arrow-left"></i></button>
                        <button (click)="nextPage()" [disabled]="currentPage >= (highscores.length / pageSize) - 1">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="search">
                <h2 style="margin-bottom: 20px;">Search</h2>

                <input type="text" [(ngModel)]="searchValue" placeholder="Search by name"
                       style="margin-bottom: 20px;"/>
                <button (click)="searchByName()">Search</button>

                <div *ngIf="searchResults.length > 0">
                    <table id="search-table">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let result of searchResults">
                            <td><img [src]="result.image" alt="UserImage" class="img-thumbnail"></td>
                            <td>{{ result.name }}</td>
                            <td>{{ result.score }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="searchInitiated && searchResults.length === 0">
                    <h4>No results</h4>
                </div>
            </div>
        </div>
        <div class="navigation">
            <button routerLink="/highest-latest-scores">Show live feed</button>
            <button routerLink="/">Back to login</button>
        </div>
        <div class="footer">
            <span>A project by students of &nbsp;<a href="https://www.htl-leonding.at/">HTL Leonding</a>&nbsp;- © BeamVR 2024 / 25</span>
        </div>
    </div>
</div>
