.card {
    width: max-content;
    max-width: none;
}

.card-body {
    padding: 0.4rem;
}

.delete-button {
    background: #5b2727;
}
.delete-button:hover {
    background: #602929;
}
.delete-button:active {
    background: #502121;
}

input[type="text"], input[type="number"] {
    background: none;
    border: 1px solid black;
    box-shadow: none;
}