<div class="container">
    <div class="card">
        <div class="card-header" id="pageHeader">
            <h3 class="text-center">Beam VR - Admin Panel</h3><br>
            <h2>Hello, <span id="name">{{ username }}</span></h2><br>
            <button class="btn btn-sm btn-primary" (click)="logout()">Logout</button>
            <br>

            <!-- <div class="switch" style="margin-top: 5px;">
                <input id="switch" class="switch__input" id="darkmodeToggle" (change)="changeThemeColor()" name="switch" type="checkbox">
                <label class="switch__label" for="switch"></label>
            </div> -->

            <button class="btn btn-sm btn-danger" id="deleteAllButton" (click)="confirmDeleteAll()">Delete All
            </button>
        </div>
        <div class="card-body" id="table">
            <div *ngIf="isLoggedIn; else notLoggedIn">
                <div *ngIf="data.length === 0" class="alert alert-danger" role="alert">No data available</div>
                <div *ngIf="data.length != 0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Tadeot ID</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{ item.rank }}</td>
                            <td><img [src]="item.image" alt="{{ item.name }}" class="img-thumbnail" width="60"
                                     height="60"></td>
                            <td>
                                <ng-container *ngIf="!item.editMode; else editModeName">{{ item.name }}
                                </ng-container>
                                <ng-template #editModeName><input type="text" class="form-control"
                                                                  [(ngModel)]="item.name"></ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="!item.editMode; else editModeScore">{{ item.score }}
                                </ng-container>
                                <ng-template #editModeScore><input type="number" class="form-control"
                                                                   [(ngModel)]="item.score"></ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="!item.editMode; else editModeTadeotId">{{ item.tadeotId }}
                                </ng-container>
                                <ng-template #editModeTadeotId><input type="number" class="form-control"
                                                                      [(ngModel)]="item.tadeotId"></ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="!item.editMode">
                                    <button class="btn btn-sm btn-primary" (click)="enableEditMode(item)">Edit
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="item.editMode">
                                    <button class="btn btn-sm btn-success" (click)="saveChanges(item)">Save</button>
                                    <button class="btn btn-sm btn-danger" (click)="cancelEdit(item)">Cancel</button>
                                </ng-container>
                                <ng-container *ngIf="!item.editMode">
                                    <button class="btn btn-sm btn-danger" (click)="confirmDelete(item)">Delete
                                    </button>
                                </ng-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ng-template #notLoggedIn><p class="text-danger">Redirecting to login...</p></ng-template>
        </div>
    </div>
</div>
